@font-face {
    font-family: noto-regular;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap") format('embedded-opentype');
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: noto-bold;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap") format('embedded-opentype');
    unicode-range: U+4E00-9FFF;
}
@font-face {
    font-family: roboto-bold;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@700&display=swap") format('embedded-opentype');
    unicode-range: U+00-024F;
}